<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quasi officia dicta rerum vero veniam dolores consectetur, quis ullam quaerat quibusdam architecto. Optio aperiam dolore minus cupiditate repudiandae dolores itaque!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestiae, nostrum architecto tempora totam doloribus? Veniam laudantium reprehenderit, deserunt tempora dolorem vero nisi tenetur fugiat neque repellendus, officiis, modi odio?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem quis distinctio quo, libero sapiente ratione voluptatum dolor ducimus numquam nam repellat culpa incidunt aliquid unde, explicabo esse eos quae consequatur.
            </p>
        </div>
    </div>
</div>
    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>


