<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C4D03AQHaaCzMKc3Y5g/profile-displayphoto-shrink_200_200/0?e=1612396800&v=beta&t=13_Hr754Rs-EVAMK68chdPy7Jnz2lYj2yBg2KA9X_Qw" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace">{{nome}}</h5>
    <p class="card-text text-center text-monospace">Desenvolvedor Full Stack Jr. formado na Generation</p>

    <a href="https://www.linkedin.com/in/gustavo-souza-01b7694b/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/gssouza10" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

  </div>
</div>
